[submodule "puppet/modules/tomcat"]
	path = puppet/modules/tomcat
	url = https://github.com/camptocamp/puppet-tomcat
[submodule "puppet/modules/archive"]
	path = puppet/modules/archive
	url = https://github.com/camptocamp/puppet-archive.git
